body{
    background-color: orange;
}
h2{
    color: red;
}
img{
    width:200px;
    height: 200px;
}
.undevourr-button{
    padding: 0px;
    height: 25px;
    width: 15px;
    background:  white!important;
}